---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date('March 10 2025')}
	heroImage="/blog-placeholder-about.jpg"
>
	<p>
		Andrew reports to the Co-Founder (and former CEO) of PagerDuty, where he is responsible for leading a team of PMs for the Flexible Platform, Automation, CSOps, Status Pages, and Strategic Integrations product groups. He’s responsible for product strategy, product development, go-to-market, pricing, and leading the M&A integrations of Catalytic (no-code, low-code workflow automation) and Rundeck (pro-code, infrastructure automation).
	</p>

	<p>
		Andrew’s helped launch four net-new product lines at PagerDuty, helping accelerate growth from $50M ARR to $475M+: 
• Launched PagerDuty’s AIOps machine learning product line --> helping technology teams cut through on-call noise, get to root-cause, accelerate resolution, reduce downtime, and improve responder quality of life with automation and data science ($0 to $XxM ARR).
• Incubated a new product and organic business, PagerDuty for Customer Service Operations (CSOps) --> expanding PD beyond alerts and incidents to empowering customer service and development teams to get proactive and out ahead of customer impacting incidents, helping meet customer SLAs, and improve customer experience ($0 to $XxM ARR). 
• Launched PagerDuty Workflow Automation --> empowering Enterprise Dev and IT teams to standardize automating a variety of operational work, leveraging no-code automation.
	</p>

	<p>
		Before PagerDuty, Andrew was an early product manager at the Salesforce-acquired startup RelateIQ, a next-gen AI powered CRM, where he helped lead product teams responsible for the core Enterprise pillar, which included Analytics, Mobile, Desktop extensions, and Integrations, before and through the company’s acquisition ($0 to $XxxM ARR).
	</p>

	<p>
		At Salesforce, Andrew worked to bring RelateIQ’s core relationship intelligence platform to Sales Cloud, bringing Salesforce it’s first AI-powered CRM (SalesforceIQ). He also worked to bring RelateIQ's mobile apps and desktop extensions, launching Salesforce Inbox, bringing AI-powered CRM to your email inbox on mobile and desktop. He also helped lead the M&A integration of Tempo.AI, a next-gen AI mobile calendar. Andrew also spent time on product teams at Tesla, where he helped with the launch of the first thirty Model 3s using software enabled machine automation. 

	</p>

	<p>
		Andrew holds a B.S. and M.S. in Engineering and an M.B.A. from Stanford University, where he was one of twelve top students selected as a Mayfield Fellow in the School of Engineering. Andrew was also a student walk-on to the Football team under Coach Harbaugh, where he made the travel roster as a freshman and earned a PAC-12 Postgraduate Scholarship.
	</p>
</Layout>
